.DS_Store
iso/*
!iso/README.md
builds/*
!builds/README.md
packer_cache/
output-*/
*.box
*.ova
*.iso
*.ISO
*.vmx
*.vagrant
*.log
*~
*.swp
*.webm
.vagrant/
*.exe
*.msi
*.msu
ansible/inventory/*.yml
vagrant/vmlist.txt
inventory
